
body {
    width: 97.2%;/*1400px;*/
    height: 740px;
}
nav {
    min-height: 8.10%; /*60px*/
    background-color: #F5F5F5;
}
aside {
    min-width: 12.14%;/*170px;*/
    min-height: 83.78%;/*620px;*/
    background-color: #FFE6CC;

    padding-left: 2.14%;/*30px;*/

    float: left;
    clear: left;

}
main {
    padding: 0 1.42% 0 1.42%;/*0 20px 0 20px;*/
    min-width: 82.85%;/*1160px;*/
    min-height: 83.78%;/*620px;*/

    float: left;
    background-color: #DAE8FC;

}

footer {
    clear: left;
    min-height: 8.10%;/*60px;*/
    background-color: #FFF2CC;
    
}